.main, .header, .footer {
  transition-duration: 0.6s;
}

.container {
  padding: 3% 5%;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
}

.header svg {
  left: -20%;
  position: absolute;
  transform: scale(0.38);
  transition-duration: 0.4s;
}

.header p {
  margin-left: 20%;
}

@media screen and (min-width: 768px) {
  .header svg {
    display: none;
  }

  .header p {
    margin: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  z-index: 999;
}

.main__jumbotron {
  flex-basis: 50%;
  order: 1;
}

.main__jumbotron svg {
  display: none;
}

.main__navigation {
  align-self: flex-start;
  order: 0;
}

.main__navigation a {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
}

canvas {
  opacity: 0.1;
}

@media screen and (min-width: 768px) {
  canvas {
    opacity: 0.3;
  }
}

svg {
  width: 150px;
}

svg g {
  transition-duration: 0.6s;
}

@media screen and (min-width: 768px) {
  svg {
    width: 300px;
  }
}

.main__intro-message {
  transition-duration: 0.6s;
}

@media screen and (min-width: 333px) {
  .main__header-title {
    font-size: 45px;
  }
}

.button {
  background: #fff;
  color: #282e64;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 15px 90px;
  outline: 0;
  text-decoration: none;
  margin: 15px auto;
}

.footer {
  padding: 15px 0;
}

.social-icon {
  padding: 0 15px;
}

.side-panel {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #282e64;
  text-align: center;
  position: fixed;
  height: 100%;
  width: 50%;
  right: -60%;
  transition-duration: 0.6s;
  z-index: 9999;
}

.side-panel__close-panel {
  cursor: pointer;
  font-size: 45px;
  position: absolute;
  right: 40px;
  top: 10px;
}

.side-panel__content {
  width: 50%;
  margin: 0 auto;
}
